@import "../../../colours";
.grid {
  height: 500px;
  overflow: auto;
}
.time {
  height: 60px;
  border: solid 1px $clouds;
  border-top: 0;
  display: flex;
}

.time > span {
  border-right: solid 1px $clouds;
  width: 120px;
  padding: 10px;
  box-sizing: border-box;
}

.weekdays {
  display: flex;
  border: solid 1px $clouds;
  text-align: center;
}
.weekdays > div:first-child {
  width: 120px;
  border-right: solid 1px $clouds;
  flex-grow: 0;
}
.weekdays > div {
  flex-grow: 1;
  padding: 10px;
  border-right: solid 1px $clouds;
  box-sizing: border-box;
  width: 0;
}
.day {
  border-right: solid 1px $clouds;
  flex-grow: 1;
  box-sizing: border-box;
}
