@import "../../colours";

.container {
  background: $emrald;
  display: flex;
  align-items: center;
  padding: 0 10px;
  line-height: 24px;
  button {
    padding: 10px 0;
    cursor: pointer;
    font-size: 14px;
    margin: 0 10px;
    color: $midnight_blue;
  }
}

.date {
  flex: 1;
  display: flex;
  button {
    display: flex;
    align-items: center;
  }
}

.views {
  display: flex;
  button {
    width: 100px;
    position: relative;
  }
}

.selected::after {
  content: '';
  display: inline-block;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  height: 4px;
  background: $midnight_blue;
}


.calendarContainer {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  span {
    margin-left: 10px;
  }
}
.calendar {
  position: absolute;
  top: 44px;
  left: 10px;
  box-shadow: 0 0 6px 1px rgba(0,0,0,.2);
  z-index: 1;
}
