.container {
  position: relative;
  padding: 0;
  user-select: none;
  display: inline-block;
  font-size: 0.75em;
  line-height: 2em;
  position: relative;
  background: white;
  padding: 10px;
}

.month {
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  user-select: none;
}

.navBar {
  position: absolute;
  left: 0;
  right: 0;
  padding: 0;
}

.navButton {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}

.navButtonPrev {
  composes: navButton;

  left: 1rem;
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+Cjxzdmcgd2lkdGg9IjI2cHgiIGhlaWdodD0iNTBweCIgdmlld0JveD0iMCAwIDI2IDUwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbG5zOnNrZXRjaD0iaHR0cDovL3d3dy5ib2hlbWlhbmNvZGluZy5jb20vc2tldGNoL25zIj4KICAgIDwhLS0gR2VuZXJhdG9yOiBTa2V0Y2ggMy4zLjIgKDEyMDQzKSAtIGh0dHA6Ly93d3cuYm9oZW1pYW5jb2RpbmcuY29tL3NrZXRjaCAtLT4KICAgIDx0aXRsZT5wcmV2PC90aXRsZT4KICAgIDxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPgogICAgPGRlZnM+PC9kZWZzPgogICAgPGcgaWQ9IlBhZ2UtMSIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc2tldGNoOnR5cGU9Ik1TUGFnZSI+CiAgICAgICAgPGcgaWQ9InByZXYiIHNrZXRjaDp0eXBlPSJNU0xheWVyR3JvdXAiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEzLjM5MzE5MywgMjUuMDAwMDAwKSBzY2FsZSgtMSwgMSkgdHJhbnNsYXRlKC0xMy4zOTMxOTMsIC0yNS4wMDAwMDApIHRyYW5zbGF0ZSgwLjg5MzE5MywgMC4wMDAwMDApIiBmaWxsPSIjNTY1QTVDIj4KICAgICAgICAgICAgPHBhdGggZD0iTTAsNDkuMTIzNzMzMSBMMCw0NS4zNjc0MzQ1IEwyMC4xMzE4NDU5LDI0LjcyMzA2MTIgTDAsNC4yMzEzODMxNCBMMCwwLjQ3NTA4NDQ1OSBMMjUsMjQuNzIzMDYxMiBMMCw0OS4xMjM3MzMxIEwwLDQ5LjEyMzczMzEgWiIgaWQ9InJpZ2h0IiBza2V0Y2g6dHlwZT0iTVNTaGFwZUdyb3VwIj48L3BhdGg+CiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4K");
}

.navButtonNext {
  composes: navButton;
  right: 1rem;
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+Cjxzdmcgd2lkdGg9IjI2cHgiIGhlaWdodD0iNTBweCIgdmlld0JveD0iMCAwIDI2IDUwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbG5zOnNrZXRjaD0iaHR0cDovL3d3dy5ib2hlbWlhbmNvZGluZy5jb20vc2tldGNoL25zIj4KICAgIDwhLS0gR2VuZXJhdG9yOiBTa2V0Y2ggMy4zLjIgKDEyMDQzKSAtIGh0dHA6Ly93d3cuYm9oZW1pYW5jb2RpbmcuY29tL3NrZXRjaCAtLT4KICAgIDx0aXRsZT5uZXh0PC90aXRsZT4KICAgIDxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPgogICAgPGRlZnM+PC9kZWZzPgogICAgPGcgaWQ9IlBhZ2UtMSIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc2tldGNoOnR5cGU9Ik1TUGFnZSI+CiAgICAgICAgPGcgaWQ9Im5leHQiIHNrZXRjaDp0eXBlPSJNU0xheWVyR3JvdXAiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAuOTUxNDUxLCAwLjAwMDAwMCkiIGZpbGw9IiM1NjVBNUMiPgogICAgICAgICAgICA8cGF0aCBkPSJNMCw0OS4xMjM3MzMxIEwwLDQ1LjM2NzQzNDUgTDIwLjEzMTg0NTksMjQuNzIzMDYxMiBMMCw0LjIzMTM4MzE0IEwwLDAuNDc1MDg0NDU5IEwyNSwyNC43MjMwNjEyIEwwLDQ5LjEyMzczMzEgTDAsNDkuMTIzNzMzMSBaIiBpZD0icmlnaHQiIHNrZXRjaDp0eXBlPSJNU1NoYXBlR3JvdXAiPjwvcGF0aD4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPgo=");
}


.caption {
  display: table-caption;
  height: 1.5rem;
  text-align: left;
  padding-left: 0.5em;
  padding-bottom: 0.5em;
  text-transform: uppercase;
  font-weight: 500;
}

.weekdays {
  display: table-header-group;
}


.weekdaysRow {
  display: table-row;
}

.weekday {
  display: table-cell;
  padding: .5rem;
  font-size: .875em;
  text-align: center;
  border-top: 1px solid rgba(60,63,81,.2);
  color: #3c3f51;
  opacity: 0.75;
  font-size: inherit;
}

.weekday abbr[title] {
  border: 0;
  text-decoration: none;
}

.body {
  display: table-row-group;
}

.week {
  display: table-row;
}

.day {
  display: table-cell;
  padding: 0.4em 0.6em 0.2em;
  border: 0;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  font-weight: 500;
}

.dayOutlined {
    outline-width: medium;
}

.date {
  height: 1.5em;
  width: 1.5em;
  display: inline-block;
  vertical-align: top;
  /* we might need to bring it back later so commented out for now*/
  /*border-bottom: 1px solid transparent;*/
}
/* Default modifiers */

.today .date {
  color: #3c3f51;
  border-bottom: 2px solid #007AC9;
  padding-bottom: 0.2em;
  font-weight: 500;
}

.disabled {
  color: #dce0e0;
  background-color: #eff1f1;
  cursor: default;
}

.outside {
  cursor: default;
  color: #3c3f51;
  opacity: 0.75;
}

.selected:not(.disabled):not(.outside) {
  color: #3c3f51;
  background: rgba(0, 122, 201, 0.1);
}

/* we might need to bring it back later so commented out for now*/
/*.selected:not(.disabled):not(.outside) .date {
  border-bottom: 1px solid #000;
}*/

/* Example of custom modifiers */

.sunday {
  border: 1px solid #4A90E2;
}

.sunday:not(.outside) {
  color: #4A90E2;
}

.green {
  color:springgreen;
  font-weight: bold;
  position: relative;
  z-index: 1;
}

.event {
  font-weight: bold;
}

.nextMonth {
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  margin-left: 0.4rem;
  margin-right: 0;
}

.prevMonth {
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}


.selectedWeek {
  background: rgba(0, 122, 201, 0.1);
}
