@import "../../../colours";
.container {
  height: 500px;
  overflow: auto;
  display: flex;
}

.container > div {
  width: 100px;
}

.timeline span{
  height: 60px;
  width: 100%;
  display: block;
  padding: 10px;
  box-sizing: border-box;
  border: solid 1px $clouds;
  border-bottom: 0;
}

.time {
  border: solid 1px $clouds;
  border-top: 0;
  display: flex;
  height: 60px;
}

.time > span {
  border-right: solid 1px $clouds;
  width: 100px;
  padding: 10px;
  box-sizing: border-box;
}

.timeslot {
  border-bottom: solid 1px $clouds;
  border-right: solid 1px $clouds;
  height: 30px;
  box-sizing: border-box;
  cursor: pointer;
  padding: 8px;
}

.grid {
  position: relative;
  flex-grow: 1;
  overflow: hidden;
}


.eventEntry {
  min-height: 30px;
  padding: 8px;
  box-sizing: border-box;
  &>span:first-child {
    margin-right: 10px;
  }
}


.isSelected {
  background: rgba(52, 73, 94, 0.63);
  border: 0;
}
