@import "../../../colours";
.container {
  height: 500px;
  overflow: auto;
}
.time {
  height: 60px;
  border: solid 1px $clouds;
  border-top: 0;
  display: flex;
}

.time > span {
  border-right: solid 1px $clouds;
  width: 80px;
  padding: 10px;
}

.timeslot {
  flex-grow: 1;
}
.timeslot > div {
  height: 30px;
}

.timeslot > div:first-child {
  border-bottom: solid 1px $clouds;
}
