@import "../../../colours";
.container {
  height: 500px;
  overflow: auto;
}
.time {
  border: solid 1px $clouds;
  border-top: 0;
  display: flex;
}

.time > span {
  border-right: solid 1px $clouds;
  width: 100px;
  padding: 10px;
  box-sizing: border-box;
}

.timeslot {
  flex-grow: 1;
}
.timeslot > div {
  height: 30px;
  box-sizing: border-box;
}

.timeslot > div:first-child {
  border-bottom: solid 1px $clouds;
}


.grid {
  position: relative;
}


.eventEntry {
  padding: 10px;
  box-sizing: border-box;
}
