.formField {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  flex-flow: row;
  flex-wrap: wrap;
}



.formField label {
  max-width: 120px;
  min-width: 120px;
}

.formField input {
  padding: 10px;
}


.field {
  flex-grow: 1;
}


.error {
  color: red;
  padding: 10px 0;
  margin-left: 120px;
  flex: 0 1 100%;
}

.errorBorder input {
  border: solid 1px red;
}
